body {
    background-color: #161616;
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.container { 
    margin-top: 10%;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.875rem;
}

.temp-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.575rem;
    margin-left: 0;
    padding-left: 0;
}

.temp-btn:focus {
    outline: 0;
}

.temp-btn-text {
    color: #006dcc;
    cursor: pointer;
}

.icon {
    height: 5rem;
    margin-top: 0;
    width: 5rem;
}

.weatherStatus {
    margin-bottom: 0;
    padding-bottom: 0;
}